{% extends "bootstrap/base.html" %}




{% block navbar %}
<nav class="navbar navbar-inverse">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand" href="/">
          Health
        </a>
      </div>
      <ul class="nav navbar-nav">
          <li><a href="/weight">Weight</a></li>
          <li><a href="/food">Food</a></li>
      </ul>


    </div>
  </nav>
{% endblock %}


{% block content %}
<div class="container">

    {% for message in get_flashed_messages() %}
    <div class="flash">{{ message }}</div>
    {% endfor %}
    
    {% block page_content %}
    {% endblock %}
</div>
{% endblock %}